<!DOCTYPE html>
<html lang="en-US">
	<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
		<title>
		</title>
		<style>
			body { font-family:Calibri; font-size:12pt }
			p { margin:0pt }
		</style>
	</head>
	<body>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">--- layout: default --- {% include base_path %} {% if page.header.overlay_color or page.header.overlay_image or page.header.image %} {% include page__hero.html %} {% endif %} {% if page.url != "/" and site.breadcrumbs %} {% unless paginator %} {% include breadcrumbs.html %} {% endunless %} {% endif %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% include sidebar.html %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% if page.title %}{% endif %} {% if page.excerpt %}{% endif %} {% if page.date %}{% endif %} {% if page.modified %}{% endif %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% unless page.header.overlay_color or page.header.overlay_image %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% if page.title %}</span>
			</p>
			<p style="margin-bottom:14.9pt; widows:0; orphans:0; font-size:18pt">
				<strong><span style="font-family:Times-Bold; ">{{ page.title | markdownify | remove: "</span></strong>
			</p>
			<p style="margin-top:14.9pt; margin-bottom:18pt; widows:0; orphans:0; font-size:18pt">
				<strong><span style="font-family:Times-Bold; ">" | remove: "</span></strong>
			</p>
			<p style="margin-top:18pt; margin-bottom:14.9pt; widows:0; orphans:0; font-size:18pt">
				<strong><span style="font-family:Times-Bold; ">" }}</span></strong>
			</p>
			<p style="margin-top:14.9pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% endif %} {% if page.read_time %}</span>
			</p>
			<p style="margin-bottom:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% include read-time.html %}</span>
			</p>
			<p style="margin-top:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% endif %} {% if page.modified %}</span>
			</p>
			<p style="margin-bottom:12pt; widows:0; orphans:0">
				<strong><span style="font-family:Times-Bold; ">{{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</span></strong><span style="font-family:Times-Roman"> {{ page.modified | date: "%B %d, %Y" }}</span>
			</p>
			<p style="margin-top:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% endif %} {% if page.collection == 'teaching' %}</span>
			</p>
			<p style="margin-bottom:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{{ page.type }}, </span><em><span style="font-family:Times-Italic; ">{{ page.venue }}</span></em><span style="font-family:Times-Roman">, {{ page.date | default: "1900-01-01" | date: "%Y" }}</span>
			</p>
			<p style="margin-top:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% elsif page.venue and page.date %}</span>
			</p>
			<p style="margin-bottom:12pt; widows:0; orphans:0">
				<em><span style="font-family:Times-Italic; ">{{ page.venue }}</span></em><span style="font-family:Times-Roman">, {{ page.date | default: "1900-01-01" | date: "%Y" }}</span>
			</p>
			<p style="margin-top:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% elsif page.date %}</span>
			</p>
			<p style="margin-bottom:12pt; widows:0; orphans:0">
				<strong><span style="font-family:Times-Bold; ">{{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</span></strong><span style="font-family:Times-Roman"> {{ page.date | default: "1900-01-01" | date: "%B %d, %Y" }}</span>
			</p>
			<p style="margin-top:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% endif %} {% if page.citation and page.paperurl %}</span>
			</p>
			<p style="margin-bottom:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">Recommended citation: {{ page.citation }} </span><a href="file:///Users/zw425/github/zywang.github.io/_layouts/%7B%7B%20page.paperurl%20%7D%7D" style="text-decoration:none"><u><span style="font-family:Times-Roman; color:#0000e9">{{ page.paperurl }}</span></u></a>
			</p>
			<p style="margin-top:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% elsif page.citation %}</span>
			</p>
			<p style="margin-bottom:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">Recommended citation: {{ page.citation }}</span>
			</p>
			<p style="margin-top:12pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% endif %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% endunless %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{{ content }} {% if page.link %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<a href="file:///Users/zw425/github/zywang.github.io/_layouts/%7B%7B%20page.link%20%7D%7D" style="text-decoration:none"><u><span style="font-family:Times-Roman; color:#0000e9">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</span></u></a>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% endif %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% if site.data.ui-text[site.locale].meta_label %}</span>
			</p>
			<p style="margin-bottom:15.95pt; widows:0; orphans:0">
				<strong><span style="font-family:Times-Bold; ">{{ site.data.ui-text[site.locale].meta_label }}</span></strong>
			</p>
			<p style="margin-top:15.95pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% endif %} {% include page__taxonomy.html %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% if page.share %}{% include social-share.html %}{% endif %} {% include post_pagination.html %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% if site.comments.provider and page.comments %} {% include comments.html %} {% endif %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% comment %}{% endcomment %} {% if page.id and page.related and site.related_posts.size &gt; 0 %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% if site.data.ui-text[site.locale].related_label %}</span>
			</p>
			<p style="margin-bottom:15.95pt; widows:0; orphans:0">
				<strong><span style="font-family:Times-Bold; ">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</span></strong>
			</p>
			<p style="margin-top:15.95pt; widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% endif %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% for post in site.related_posts limit:4 %} {% include archive-single.html type="grid" %} {% endfor %}</span>
			</p>
			<p style="widows:0; orphans:0">
				<span style="font-family:Times-Roman">{% endif %}</span>
			</p>
	<p style="bottom: 10px; right: 10px; position: absolute;"><a href="https://wordtohtml.net" target="_blank" style="font-size:11px; color: #d0d0d0">Converted to HTML with WordToHTML.net</a></p>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"83af4b0efc6572a4","r":1,"version":"2023.10.0","token":"4581d6a58cf94e929fad52deda295622"}' crossorigin="anonymous"></script>
</body>
</html>